
<span class="bt_block float_right no_bg" style=" width:50%; margin-right:4%">
    <div class="float_left" style=" width:87%; text-align:right;">
        <?php echo translate('Tổng');?>

    </div>
    <div class="float_left" style=" width:12%; margin-left:1%;">
        <input class="input_7" type="text" style=" width:95%;text-align:right; padding:0 3% 0 0; margin:0 2% 0 0; float:right;" id="total_in_salesorder" value="<?php if(isset($total_in_salesorder)) echo $this->Common->format_currency($total_in_salesorder)?>" readonly="readonly" />
    </div>
</span>