<?php if($this->Common->check_permission('shippings_@_entry_@_add',$arr_permission)): ?>
<div class="float_left hbox_form" style="width:auto; margin-left:5px;">
     <a id="create_full_shipment">
     	<input class="btn_pur" id="printexport_products" type="button" value="<?php echo translate('Create full shipment'); ?>" style="width:99%;" />
     </a>
</div>

<div class="float_left hbox_form" style="width:auto; margin-left:5px;">
     <a id="create_part_shipment">
     	<input class="btn_pur" id="printexport_products" type="button" value="<?php echo translate('Create part shipment'); ?>" style="width:99%;" />
     </a>
</div>
<?php endif; ?>