<span id="ab">AB</span>
<script type="text/javascript">
	$("#ab").click(function(){
		$.ajax({
			url: "http://jt.anvy.net/salesorders/create_salesorder_from_worktraq",
			data: {bac:'bac'},
			type: 'POST',
			crossDomain: true,
			success: function(result){
				console.log(result);
			}
		})
	});
</script>