<div style="padding-left: 4%; float:left;">
     <div class="float_left" style="margin:0;padding:0; text-align:left;float:left;">
        <?php echo translate('Total Sales'); ?>&nbsp;
    </div>
    <input class="input_w2" type="text" style=" width:7%; text-align:right; padding: 0 1% 0 1%;margin: -2px 3.5% 0 0%;float:left;color:#333;" id="amount" value="<?php echo $total_sales;?>" readonly="readonly" />
    
    <div class="float_left" style="margin:0;padding:0; text-align:left;float:left;">
        <?php echo translate('Total Costs'); ?>&nbsp;
    </div>
     <input class="input_w2" type="text" style=" width:7%; text-align:right; padding: 0 1% 0 1%;margin: -2px 3.5% 0 0%;float:left;color:#333;" id="amount" value="<?php echo $total_costs;?>" readonly="readonly" />    

    <div class="float_left" style="margin:0;padding:0; text-align:left;float:left;">
        <?php echo translate('Total Profit / Loss'); ?>&nbsp;
    </div>
    <input class="input_w2" type="text" style=" width:7%; text-align:right; padding: 0 1% 0 1%;margin: -2px 3.5% 0 0%;float:left;color:#333;" id="amount" value="<?php echo $total_profit;?>" readonly="readonly" />
    <div class="float_left" style="margin:0;padding:0; text-align:left;float:left;">
        %<?php echo translate('Margin Total'); ?>&nbsp;
    </div>
    <input class="input_w2" type="text" style=" width:5%; text-align:right; padding: 0 1% 0 1%;margin: -2px 3.5% 0 0%;float:left;color:#333;" id="amount" value="<?php echo $margin_total;?>" readonly="readonly" />
</div>