<?php
?>
<span class="bt_block float_right no_bg" style=" width:50%; margin-right:0%">
    <div class="float_left" style=" width:42%; text-align:right;">
        <!--Totals -->&nbsp;
    </div>
    <div class="float_left" style=" width:57%; margin-left:1%;">
        <input class="input_7" type="text" style=" width:15%;text-align:right; padding:0 1.5% 0 0; margin:0 30% 0 0; float:right;" id="sum_sub_total" value="<?php if(isset($sum_sub_total)) echo $this->Common->format_currency($sum_sub_total,2);?>" readonly="readonly" />
        <div style=" width:30%; text-align:right; float:right;">
            <?php echo translate('Totals')?> &nbsp;
        </div>

    </div>
</span>
<div id="shipping_receive_quantity" style="display:none">

</div>