<script type="text/javascript" src="http://jt.nail.com/pos/theme/default/js/settings/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://jt.nail.com/pos/theme/default/js/settings/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="http://jt.nail.com/pos/theme/default/js/settings/jquery.idTabs.min.js"></script>

<script type="text/javascript">
    $(window).load(function() {
        $('.container_same_category').mCustomScrollbar({
            scrollButtons:{
                enable:false
            },
            advanced:{
	         autoScrollOnFocus: false,
	     	}
        });
    });
</script>
<div class="wrapper">
		<div class="content">
			<div class="content_left">
                <ul class="list_products big_size settings">
					<li class="active"><a href="">setup price</a></li>
					<li><a href="">View List</a></li>
					<li><a href="">Print</a></li>
					<li><a href="">Setting</a></li>
					<li><a href=""><< Go Back</a></li>
				</ul>
            </div>
            <div class="content_right">
                <ul class="idTabs clearfix">
                    <li><a class="selected" href="#contacts">Contacts</a></li>
                    <li><a href="#comms">Comms</a></li>
                    <li><a href="#documents">Documents</a></li>
                    <li><a href="#jobs">Jobs</a></li>
                    <li><a href="#tasks">Tasks</a></li>
                    <li><a href="#timelog">TimeLog</a></li>
                </ul>
                <div class="content_idt container_same_category">
	                <div id="contacts">
	                	<div class="col-xs-9">
	                		<div class="search">
						        <form class="forms-controls" accept-charset="utf-8" method="get" action="">
						          <input type="text" placeholder="Search barcode" class="form-control">
						          <select class="form-control category_select">
					                <option selected="">Category</option>
					                <option>2</option>
					                <option>3</option>
					                <option>4</option>
					                <option>5</option>
					              </select>
						        </form>
						      </div>
	                		<ul class="list_products products_settings">
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-2
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				                <li>
				                  <a href="">
				                    <div class="img_products"><img src="dist/images/products.jpg" alt=""></div>
				                    <div class="check_span"><input type="checkbox"></div>
				                    Products-1
				                  </a>
				                </li>
				              </ul>
	                	</div>
	                	<div class="col-xs-3">
	                		<form action="" class="settings_f">
	                			<div class="form-group">
	                				<label for="">Products name</label>
	                				<input type="text" name="" id="" class="form-control"></div>
	                			<div class="form-group">
	                				<label for="">Barcode</label>
	                				<input type="text" name="" id="" class="form-control"></div>
	                			<button type="submit" class="btn-default">Submit</button>
	                		</form>
	                	</div>
	                </div>
	                <div id="comms">
	                    4
	                </div>
	                <div id="documents">
	                    5
	                </div>
	                <div id="jobs">
	                    6
	                </div>
	                <div id="tasks">
	                    7
	                </div>
	                <div id="timelog">
	                    8
	                </div>
                </div>
            </div>
		</div>
		<div id="footer" style="clear: both;"></div>
	</div>