<div class="tab_1 full_width" style="height:85px;">
    <span class="title_block bo_ra1">
        <span class="fl_dent">
            <h4>
                Rebuild Quotation
            </h4>
        </span>
    </span>
    <div class="tab_backup_restore">
	  	Quotation
    </div>
</div>