<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<?php echo URL; ?>/favicon.ico" type="image/x-icon" rel="icon">
<link href="<?php echo URL; ?>/favicon.ico" type="image/x-icon" rel="shortcut icon">
<title><?php echo (isset($arr_data['report_name']) ? $arr_data['report_name']: ''); ?></title>
<?php
    echo $this->Html->script('jquery-1.10.2.min');
    echo $this->Html->css('report');
?>
<?php if(!isset($arr_data['is_custom'])): ?>
<style type="text/css" media="print,screen">
table {
   page-break-inside:always;
 }
tr{
  page-break-inside:avoid;
  page-break-after:auto;
 }
@media print {
    thead {display: table-header-group;}
    tfoot { display:table-footer-group; }
}
</style>
<?php endif; ?>
<style type="text/css" media="print,screen">
@media print {
    .no_print, .process-wrapper, .background_process, .print_button{display: none;}
    .wrapper{
        width:100%!important;
    }
}
@media screen {
    .table_content tbody tr td {
        font-size: 1.1vmax;
    }
}
</style>
<style type="text/css">
.hidden{
    display: none;
}
.asset_table td{
    border-right: 1px solid #d3d3d3 !important;
    height: 50px;
    background-color: #911b12;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}
.asset_product td{
    border-right: none !important;
}
.content_asset td{
    border-right: 1px solid #E5E4E3 !important;
}
.parent_product td{
    font-weight: 900;
    color:  #911b12;
}
.asset_product{
    margin-bottom: 5px;
}
.asset_product a{
    text-decoration: none;
}
</style>
</head>
<?php
    //Set trước biến
    $left_info = array();
    if(isset($arr_data['left_info'])){
        $left_info['label'] = (isset($arr_data['left_info']['label']) ? $arr_data['left_info']['label'] : '');
        $left_info['name'] = $arr_data['left_info']['name'];;
        $left_info['address'] = $arr_data['left_info']['address'];
    }
    $right_info = array();
    if(isset($arr_data['right_info'])){
        $right_info['label'] = (isset($arr_data['right_info']['label']) ? $arr_data['right_info']['label'] : '');
        $right_info['name'] = $arr_data['right_info']['name'];;
        $right_info['address'] = $arr_data['right_info']['address'];
    }
    $custom_info = false;
    $main_info = '';
    if(isset($arr_data['custom_main_info'])){
        $custom_info = true;
        $main_info = $arr_data['custom_main_info'];
    }
    else if(isset($arr_data['main_info'])){
         foreach($arr_data['main_info'] as $key=>$value)
            $main_info .= '<p><span class="bold_text">'.$key.'</span>'.$value.'</p>';
    }
    $report_name = '';
    if(isset($arr_data['report_name'])){
        $report_name = $arr_data['report_name'];
        $report_name = $report_name;
        $tmp_string = explode('(',$report_name,2);
        $first_string = ucwords($tmp_string[0]);
        $first_string=trim($first_string);
        $first_string = explode(" ",$first_string);
        $report_name = '';
        $i = 0;
        $count = count($first_string);
        foreach($first_string as $value){
            $space= (++$i<$count ? '&nbsp;' : '');
            $first_letter = substr($value, 0, 1);
            $report_name .= str_replace($first_letter, '<span class="color_red">'.$first_letter.'</span>', $value).$space;
        }
        if(isset($tmp_string[1])){
            $report_name .= '<div class="bold_txt" style="margin-top:5px;">( '.ucfirst($tmp_string[1]).'</div>';
        }
    }
    $print_time = $this->Common->format_date();
?>
<body>
    <input id="is_completed" type="hidden" value="" />
    <?php if(!isset($arr_data['is_custom'])): ?>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <img src="<?php echo URL; ?>/img/logo.png" alt="" />
                <div style=" padding: 10px 0; width:37.5%;">
                    <p>Số 5 Đinh Tiên Hoàng, P3, </p>
                    <p>Bình Thạnh, Tp.Hồ Chí Minh </p>
                </div>
                 <?php if(!empty($left_info)){ ?>
                <div style="padding: 10px 0 20px;float:left">
                    <p style="font-weight:bold;"><?php echo $left_info['label']; ?></p>
                    <p><?php echo $left_info['name']; ?></p>
                    <?php echo $left_info['address']; ?>
                </div>
                <?php } ?>
                <?php if(!empty($right_info)){ ?>
                <div style="padding: 10px 0 20px;float:right">
                    <p style="font-weight:bold"><?php echo $right_info['label']; ?></p>
                    <p><?php echo $right_info['name']; ?></p>
                    <?php echo $right_info['address']; ?>
                </div>
                <?php } ?>
            </div>
            <div class="title_report">
                <div class="box">
                    <?php echo $report_name; ?>
                    <?php if(isset($arr_data['date_from_to'])) echo '<div class="bold_txt" style="margin-top:5px;">'.$arr_data['date_from_to'].'</div>'; ?>
                </div>
                <div class="printed">
                    <p><span style="font-weight:bold">Printed at:</span> <?php echo $print_time; ?></p>
                </div>
            </div>
            <p class="clear"></p>
        </div>
        <div class="p_height"></div>
    </div>
    <?php endif; ?>
    <div class="background_process hidden">&nbsp;</div>
    <div class="process-wrapper html5-progress-bar hidden">
        <div class="progress-bar-wrapper">
            <progress id="progressbar" value="0" max="100"></progress>
            <span class="progress-value">0%</span>
        </div>
    </div>
    <a href="javascript:void(0)" id="print_button" class="print_button">Export PDF</a>
    <?php if(isset($arr_data['excel_url'])){ ?>
    <a href="<?php echo $arr_data['excel_url']; ?>" target="_blank" style="top: 25%" class="print_button">Export Excel</a>
    <?php } ?>
    <?php if(!isset($arr_data['is_custom'])){  ?>
    <?php if(isset($arr_data['report_heading'])){ ?>
    <div class="report_heading"><?php echo $arr_data['report_heading']; ?></div>
    <?php } ?>
    <div class="line"></div>
    <?php } ?>
    <div class="wrapper">
        <?php if(!isset($arr_data['is_custom'])){ ?>
        <table class="table_content" border="1" >
            <thead>
                <tr>
                    <?php
                        if(isset($arr_data['title'])){
                            $count = count($arr_data['title']);
                            $html = '';
                            foreach($arr_data['title'] as $key=>$value){
                                if(is_numeric($key))
                                    $html .= '<th>'.$value.'</th>';
                                else
                                    $html .= '<th style="'.$value.'">'.$key.'</th>';
                            }
                            echo $html;
                        }
                    ?>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td <?php if(isset($count)&&$count>1) echo 'colspan="'.$count.'"'; ?>>
                        <div class="line_1"></div>
                        <div class="footer">
                            <?php echo $arr_data['footer']; ?>
                        </div>
                    </td>
                </tr>
            </tfoot>
             <tbody>
                <?php
                    if(isset($arr_data['content']))
                        echo $arr_data['content'];
                ?>
            </tbody>
        </table>
        <?php } else{ ?>
            <?php foreach($arr_data['content'] as $value){ ?>
                    <div class="wrapper" style=" width:100%;">
                        <div class="header">
                            <div class="logo" style="width:40%;">
                                <?php if(isset($arr_data['image_logo'])){ ?>
                                <img src="<?php echo URL; ?>/img/logo.png" alt="" />
                                <?php } ?>
                                <div style=" padding: 7px 0 10px; width:100%;">
                                    <?php if(!isset($arr_data['custom_top_left_info'])){ ?>
                                    <p>Số 5 Đinh Tiên Hoàng, P3,</p>
                                    <p>Q.Bình Thạnh,Tp.Hồ Chí Minh </p>
                                    <?php } else { echo $arr_data['custom_top_left_info'];} ?>
                                </div>
                                 <?php if(!empty($left_info)){ ?>
                                <div style="padding: 10px 0 20px;float:left">
                                    <?php if($left_info['label']!=''){ ?>
                                    <p style="font-weight:bold;"><?php echo $left_info['label']; ?></p>
                                    <?php } ?>
                                    <p><?php echo $left_info['name']; ?></p>
                                    <?php echo $left_info['address']; ?>
                                </div>
                                <?php } ?>
                            </div>
                            <?php if(isset($value['qr_url'])){ ?>
                            <div style="float:left; margin-top: -17px;">
                                <img src="<?php echo $value['qr_url']; ?>" />
                                <?php if(!empty($right_info)){ ?>
                                    <div style="margin-left: 24px;">
                                        <?php if($right_info['label']!=''){ ?>
                                        <p style="font-weight:bold;"><?php echo $right_info['label']; ?></p>
                                        <?php } ?>
                                        <p><?php echo $right_info['name']; ?></p>
                                        <?php echo $right_info['address']; ?>
                                    </div>
                                <?php } ?>
                            </div>
                            <?php } ?>
                            <div class="title_report">
                                <div class="box">
                                    <?php
                                        if(isset($value['report_name']))
                                            echo $value['report_name'];
                                       else
                                            echo $report_name;
                                    ?>
                                    <?php
                                        if(isset($arr_data['date_from_to']))
                                            echo '<div class="bold_txt" style="margin-top:5px;">'.$arr_data['date_from_to'].'</div>';
                                    ?>
                                </div>
                                <?php if(!$custom_info){ ?>
                                <div class="printed">
                                    <p><span style="font-weight:bold">Printed at:</span> <?php echo $print_time; ?></p>
                                    <?php echo $main_info; ?>
                                </div>
                                <?php } else{ echo $main_info; }?>
                            </div>
                        <p class="clear"></p>
                    </div>
                    <?php if(isset($arr_data['report_heading'])){ ?>
                    <div class="report_heading"><?php echo $arr_data['report_heading']; ?></div>
                    <?php } ?>
                    <div class="p_height"></div>
                    <!-- <div class="line" style="margin-bottom: 5px;"></div> -->
                </div>
               <?php echo $value['html']; ?>
               <div class="no_print" style="padding-bottom: 100px;border-top: 1px solid"></div>
            <?php }//end foreach ?>
        <?php } //end if ?>
    </div>
    </div>
</body>
</html>
<?php
    unset($arr_data['content'],$arr_data['footer'],$arr_data['title'],$arr_data['report_heading'],$arr_data['date_from_to']);
    $arr_data['report_url'] = "http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
?>
<script type="text/javascript">
$(function() {
    $("#print_button").click(function(){
        print_click();
        $.ajax({
            url:'<?php echo URL; ?>/<?php echo $controller; ?>/print_pdf',
            type:'POST',
            data: <?php echo json_encode($arr_data); ?>,
            success: function(result){
                if(result!=''){
                    $("#is_completed").val(1);
                    endProcessBar();
                    setTimeout(function() {
                        window.location.href = result;
                    }, 1200);
                }
            }
        });
    });
});
function print_click(){
    $(".print_button").addClass("hidden");
    $(".process-wrapper").removeClass("hidden");
    $(".background_process").removeClass("hidden");
    $("#is_completed").val('');
    startProcessBar();
}
function startProcessBar(){
    var progressbar = $('#progressbar'),
        max = 100,
        time = (10000/max)*5,
        value = progressbar.val();

    var loading = function() {
        if($("#is_completed").val()!='')
            clearInterval(animate);
        value += 1;
        addValue = progressbar.val(value);

        $('.progress-value').html(value + '%');

        if (value >= 80) {
            clearInterval(animate);
            return false;
        }
    };

    var animate = setInterval(function() {
        loading();
    }, time);
}
function endProcessBar(){
    var progressbar = $('#progressbar'),
        max = 100,
        time = (100/max)*5,
        value = progressbar.val();

    var loading = function() {
        value += 1;
        addValue = progressbar.val(value);

        $('.progress-value').html(value + '%');

        if (value == 100) {
            $('.progress-value').html('100%');
            clearInterval(animate);
            return false;
        }
    };

    var animate = setInterval(function() {
        loading();
    }, time);
}
</script>