<?php

?>
<div class="tab_title_purchasing2" style=" width:188px; float:right; position: relative; margin-top:5px; margin-right:22%;">
	<span class="block_purcharsing" style="width:180px;"><?php echo translate('In use as resources (job /tasks)')?></span>
</div>