#chat_window .k-window-content{
	padding: 0.58em 0 !important;
}
#show_users .mCSB_container > li{
	list-style: none;
	cursor: pointer;
	padding: 5px 1em;
	background: -moz-linear-gradient(left center , #FFFFFF 98%, #D7D7D7 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(left , #FFFFFF 98%, #D7D7D7 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(left center , #FFFFFF 98%, #D7D7D7 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(left center , #FFFFFF 98%, #D7D7D7 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(left center , #FFFFFF 98%, #D7D7D7 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin: 5px 10px 5px 0px;
	border-bottom: 1px solid #EDEDED;
}
#show_users .mCSB_container > li:hover{
	font-weight: bold;
	background: -moz-linear-gradient(left center , #FFFFFF 98%, #2E2E2E 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(left , #FFFFFF 98%, #2E2E2E 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(left center , #FFFFFF 98%, #2E2E2E 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(left center , #FFFFFF 98%, #2E2E2E 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(left center , #FFFFFF 98%, #2E2E2E 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#show_users .mCSB_container > li.online{
	cursor: pointer;
	padding: 5px 1em;
	background: -moz-linear-gradient(left center , #FFFFFF 98%, #325c99 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(left , #FFFFFF 98%, #325c99 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(left center , #FFFFFF 98%, #325c99 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(left center , #FFFFFF 98%, #325c99 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(left center , #FFFFFF 98%, #325c99 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #325c99;
	font-weight: bold;
}
#show_users .mCSB_container > li.user_message{
	cursor: pointer;
	padding: 5px 1em;
	background: -moz-linear-gradient(left center , #FFFFFF 98%, #254472 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(left , #FFFFFF 98%, #254472 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(left center , #FFFFFF 98%, #254472 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(left center , #FFFFFF 98%, #254472 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(left center , #FFFFFF 98%, #254472 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #254472;
}
#show_users .mCSB_container > li span:nth-child(2){
	margin-left: 5px;
}
.mCSB_container > li:hover{
	background-color: #E0E4EE;
}
.k-block, .k-button, .k-textbox, .k-drag-clue, .k-touch-scrollbar, .k-window, .k-window-titleless .k-window-content, .k-window-action, .k-inline-block, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-autocomplete, .k-multiselect, .k-combobox,  .k-calendar-container, .k-calendar td, .k-calendar .k-link, .k-treeview .k-in, .k-editor-inline, .k-tooltip, .k-tile, .k-slider-track, .k-slider-selection, .k-upload{
	border-radius: 4px 4px 0 0 !important;
}
div.k-window{
	position: fixed !important;
}

#chat_window{
    height: 467px !important;
}
.right_2 {
  	bottom: 40px !important;
	height: 452px !important;
}
.shout_msg > .message{
	 font-weight: normal;
	 padding: 0;
	 text-align: left;
	 font-size: 11px;
}
.new_message{
	color: rgba(44, 112, 211, 0.97);
}