
</style>
<?php echo $this->element('../'.$name.'/tab_option'); ?>
<style type="text/css">
.entry_receipt{
	background-color: #1198B6;
	height: 60px;
	width: 200px;
	font-weight: bold;
	float:left;
	margin-left: 10px;
	text-align: center;
	padding-top:2.5%;
	font-size: 17px;
}
.entry_receipt a:hover{
	font-size: 18px;
	text-decoration: none;
}
</style>
<div style="float: left">
	<div class="entry_receipt">
	    <a style=" margin-top: 50px" href="<?php echo URL?>/receipts/thanh_toan_cong_no">Công nợ khách hàng</a>
	</div>
	<div class="entry_receipt">
    	<a href="<?php echo URL?>/receipts/cong_no_thang">Công nợ tháng KH</a>
	</div>
	<div class="entry_receipt">
	    <a href="<?php echo URL?>/receipts/cong_no_nam">Công nợ năm KH</a>
	</div>
<div>
<div style="float: left; margin-top: 10px">
	<div class="entry_receipt">
	    <a href="<?php echo URL?>/receipts/cong_no_nha_cung_cap">Công nợ nhà cung cấp</a>
	</div>

	<div class="entry_receipt">
	    <a href="<?php echo URL?>/receipts/cong_no_thang_ncc">Công nợ tháng NCC</a>
	</div>

	<div class="entry_receipt">
	    <a href="<?php echo URL?>/receipts/cong_no_nam_ncc">Công nợ năm NCC</a>
	</div>
</div>



<script type="text/javascript">
    $(function(){
        $('.datainput_allocation .combobox_button').click(function(){
            $('.hg_padd datainput_allocation .combobox_selector').attr('style','width: 100px !important; left: -10px; top: 14px;');
        });
    });
</script>