
<span class="bt_block float_right no_bg" style=" width:50%; margin-right:1%">
    <div class="float_left" style=" width:81%; text-align:right;">
        <?php echo translate('Total time (hour)'); ?>&nbsp;
    </div>
    <div class="float_left" style=" width:18%; margin-left:1%;">
        <input class="input_7" type="text" style=" width:95%;text-align:right; padding:0 3% 0 0; margin:0 2% 0 0; float:right;" id="cost_per_unit" value="<?php if(isset($total_time)) echo $this->Common->format_currency($total_time,0)?>" readonly="readonly" />
    </div>
</span>