<?php
		foreach($arr_settings['relationship'][$sub_tab]['block'] as $key => $arr_val){

			echo $this->element('box',array('key'=>$key,'arr_val'=>$arr_val));

		}
?>
<p class="clear"></p>
<input type="hidden" id="is_add" value="0" />
<?php
	echo $this->element('../GSalesorders/new_line_entry');
?>