    <div class="clear_percent_10 float_left">
        <div class="tab_1 full_width">
            <span class="title_block bo_ra1">
                <span class="float_left">
                    <span class="fl_dent"><h4><?php echo translate('Custom fields'); ?></h4></span>
                </span>
            </span>
            <div class="tab_2_inner">
                <p class="clear">
                    <span class="label_1 float_left minw_lab2"></span>
                    </p><div class="width_in3a float_left indent_input_tp">
                        <input readonly="true" class="input_1 float_left" type="text" value="">
                    </div>

                <p class="clear">
                    <span class="label_1 float_left minw_lab2"></span>
                    </p><div class="width_in3a float_left indent_input_tp">
                        <input readonly="true" class="input_1 float_left" type="text" value="">
                    </div>

                <p class="clear">
                    <span class="label_1 float_left minw_lab2 fixbor3"></span>
                    </p><div class="width_in3a float_left indent_input_tp">
                        <input readonly="true" class="input_1 float_left" type="text" value="">
                    </div>

                <p class="clear"></p>
            </div>
            <div>
                <span class="title_block">
                    <h4>  </h4>
                </span>
                <div class="tab_2_inner">
                    <p class="clear">
                        <span class="label_1 float_left minw_lab2"> </span>
                        </p><div class="width_in3a float_left indent_input_tp">
                        <input readonly="true" class="input_1 float_left" type="text" value="">
                    </div>

                     <p class="clear">
                        <span class="label_1 float_left minw_lab2"> </span>
                        </p><div class="width_in3a float_left indent_input_tp">
                        <input readonly="true" class="input_1 float_left" type="text" value="">
                    </div>

                    <p class="clear">
                        <span class="label_1 float_left minw_lab2 fixbor3"></span>
                        </p><div class="width_in3a float_left indent_input_tp">
                            <input readonly="true" class="input_1 float_left" type="text" value="">
                        </div>

                    <div class="block_warning">
                        <span class="label_bg float_left minw_lab2 fixbor3"></span>
                        <div class="width_in3a float_left indent_input_tp">
                            <div class="color_hidden"><!-- Note: Discount is applied to all products and services... --></div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="clear"></p>
            <span class="title_block bo_ra2"></span>
        </div><!--END Tab1 -->
    </div>
    <div class="clear_percent_11 float_left">
        <div class="tab_1 full_width">
            <div class="container_same_category small_height10 mCustomScrollbar _mCS_8"><div class="mCustomScrollBox mCS-light" id="mCSB_8" style="position:relative; height:100%; overflow:hidden; max-width:100%;"><div class="mCSB_container mCS_no_scrollbar" style="position: relative; top: 0px;">
                <div class="block_main_txt">
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, cupiditate saepe blanditiis alias vitae itaque obcaecati praesentium non. Odit, asperiores inventore quidem esse ea nihil non in? Sapiente, labore temporibus. -->
                </div>
            </div><div class="mCSB_scrollTools" style="position: absolute; display: none;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
        </div><!--END Tab1 -->
    </div>
