<?php
	if(isset($arr_settings['relationship'][$sub_tab]['block']))
	foreach($arr_settings['relationship'][$sub_tab]['block'] as $key => $arr_val){
		echo $this->element('box',array('key'=>$key,'arr_val'=>$arr_val));
	}
?>
<p class="clear"></p>
<?php 
	pr($arr_settings['relationship'][$sub_tab]['block']);
?>

<script type="text/javascript">
$(document).ready(function() {
	$("#bt_add_note_activity").click(function(){
		var datas = new Object;
		//var user_name = $("#your_user_name").val();
		var user_name = $("#your_user_name").val();
		var user_id = $("#your_user_id").val();
			datas['note_type'] = 'Note';
			datas['note_dates'] = '<?php echo date('d M, Y');?>';
			datas['note_by'] = user_name;
			datas['note_by_id'] = user_id;
			datas['note_details'] = 'This is new record. Click for edit !';
		save_option('note_activity',datas,'',1,'note_activity','add');
		save_to_other_module('communications',datas,'',function(ret){
		});
	});
	$("#container_note_activity").delegate(".rowedit input,.rowedit select","change",function(){
		//nhan id
		var names = $(this).attr("name");
		var intext = 'box_test_'+names;
		var inval = $(this).val();
		var ids  = names.split("_");
		var index = ids.length;
		var ids = ids[index-1];
		//khoi tao gia tri luu
		names = names.replace("_"+ids,"");
		var datas = new Object();
			datas[names]=inval;
		//luu lai
		save_option('note_activity',datas,ids,0,'note_activity','update',function(){
			/*$.ajax({
				
			});*/

		});

	});
});
</script>