/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
ul li {
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.clear {
  clear: both;
}
/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-asc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-desc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-reply-all:before {
  content: "\f122";
}
.fa-mail-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
body,
html {
  height: 100%;
}
body {
  background-color: #1f4b72;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
a {
  color: #eeffe2;
}
a:hover, a:focussss{
  color: #cdecb6;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
img.adv {
  margin: 15px 0;
}
img.banks {
  margin: 40px 0 20px;
}
img.adver_left {
  position: fixed;
  left: -5px;
  top: 77px;
}
img.adver_right {
  position: fixed;
  top: 77px;
  right: -5px;
}
.container {
  width: 968px;
  height: 100%;
}
[class*="icon-"] {
  background: url("../images/icon.png") no-repeat;
}
.left_container,
.right_container {
  background-color: #ffffff;
  padding: 1% 0;
  height: 99%;
  margin: .5%;
  width: 49%;
}
.left_container {
  float: left;
  margin: 0.5% 0 0.5% 0.5%;
  width: 49.5%;
}
.left_container .h2_title {
  margin: 26px 0;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #1f4b72;
  text-transform: uppercase;
  padding: 0 8px;
  width: 98%;
  border-width: 0px;
}
.left_container .table {
  color: #333333;
  font-size: 13px;
}
.left_container .table tr th,
.left_container .table tr td {
  text-align: center;
}
.left_container .table tr th:first-child,
.left_container .table tr td:first-child {
  width: 5%;
}
.left_container .table tr th:nth-child(2),
.left_container .table tr td:nth-child(2) {
  text-align: left;
}
.left_container .price_m {
  position: absolute;
  bottom: 78px;
  width: 99.6%;
  background-color: #1f4b72;
  margin: .2%;
}
.left_container .price_m tr:last-child td {
  padding: 13px 8px 0;
  font-size: 20px;
}
.left_container .price_m tr:last-child td:nth-child(5) {
  font-weight: bold;
}
.left_container .price_m tr td {
  color: #ffffff;
  font-size: 16px;
}
.left_container .price_m tr td:first-child {
  width: 25%;
}
.left_container .price_m tr td:nth-child(4) {
  font-weight: bold;
  text-align: right;
}
.left_container .price_m tr td:last-child {
  width: 20%;
  text-align: left;
}
nav.top_header {
  background-color: #1f4b72;
  height: 47px;
  margin-top: -2.1%;
  padding-top: 1.4%;
}
nav.top_header ul {
  padding: 0;
  margin: 0;
}
nav.top_header ul li {
  float: left;
  margin-right: 3px;
}
nav.top_header ul li .fa-caret-down {
  font-size: 18px;
  line-height: 0;
}
nav.top_header ul li .fa-plus {
  margin-right: 10px;
}
nav.top_header ul li.icon-logo {
  background-position: -133px 2px;
  display: block;
  float: right;
  height: 36px;
  margin-top: -10px;
  width: 192px;
}
nav.top_header ul li a {
  background-color: #0e9cdc;
  padding: 15px 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
nav.top_header ul li a:hover, nav.top_header ul li a:active {
  text-decoration: none;
  background-color: #1fb4f7;
}
nav.bottom_nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 24px 0 0;
  height: 77px;
}
nav.bottom_nav li {
  width: 24%;
  margin-top: -18px;
  float: right;
  margin-right: 0 !important;
  margin-left: 0.4%;
}
nav.bottom_nav li:first-child{
  margin-left: 0px;
}
nav.bottom_nav li:last-child {
  margin-right: 0;
  width: 26.7%;
}
nav.bottom_nav li:last-child a {
  background-color: #6a1515;
  border: 2px solid #ffffff;
}
nav.bottom_nav li:last-child a:hover {
  background-color: #811a1a;
}
nav.bottom_nav li a {
  display: block;
  padding: 23px 0 !important;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border-top: 2px solid #51c9ff;
  border-bottom: 2px solid #51c9ff;
  border-left: 1px solid #51c9ff;
  border-right: 1px solid #51c9ff;
}
.right_container {
  background-color: #ffffff;
}
.right_container .search {
  padding-right: 10px;
  padding-left: 10px;
}
.right_container .search input[type="text"],
.right_container .search select {
  width: 100%;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 11px;
  height: 33px;
  padding: 7px 5px;
  font-size: 14px;
  color: #333333;
}
.right_container .search .col-xs-12 {
  padding: 0;
}
.right_container .search .col-xs-12 .col-xs-9 {
  padding: 0;
}
.right_container .search .col-xs-12 .col-xs-3 {
  padding-right: 0;
}
.right_container .search a {
  display: block;
  height: 31px;
  color: #cbcbcb;
  font-size: 2.6em;
  text-align: center;
}
.right_container .search a:hover,
.right_container .search a.active {
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #0e9cdc;
}
.right_container .table {
  margin-top: 7px;
  color: #333333;
  font-size: 13px;
  margin-right: 10px;
}
.right_container .table td img {
  border: 1px solid #d5d5d5;
}
.right_container .table td:last-child {
  font-weight: bold;
  text-align: right;
  padding-right: 16px;
}
.right_container .slimScrollDiv,
.right_container #scroll_div {
  height: 680px !important;
}
.right_container #scroll_div {
  overflow-y: auto;
  overflow-x: hidden;
}
.right_container .mCSB_dragger {
  right: 1px;
}
.right_container .mCSB_dragger .mCSB_dragger_bar {
  padding: 0 4px;
}
.block_thumbs {
  display: none;
}
.list_products {
  padding-left: 1px;
  border-top: 2px solid #EAEAEA;
  margin-top: 7px;
}
.list_products li {
  list-style: none;
  float: left;
  border: 1px solid #dddddd;
  background: #efeeee;
  padding: 2px;
  margin: 3.5% 1.1% 1%;
  width: 30.5%;
}
.list_products li:hover {
  background-color: #C7C6C6;
  transition: all 0.3s ease 0s;
}

ul.sub_list_quantity {
  background-color: #DEDEDE;
  border: 1px solid #D7D7D7;
  display: block;
  left: 40%;
  top: 33%;
  position: fixed;
  width: 278px;
  z-index: 400;
  padding: 0;
}
ul.sub_list_quantity li {
  margin: 0 !important;
  width: 100% !important;
  color: #333;
}
ul.sub_list_quantity li:hover {
  background-color: #EFEEEE !important;
}
ul.sub_list_quantity li p.title_q {
  background-color: #CCCCCC;
  display: inline-block;
  font: bold 100% "Arial", Helvetica, sans-serif;
  padding: 2% 5%;
  text-transform: uppercase;
  width: 100%;
  color: #000000;
}
ul.sub_list_quantity li .btn_popup {
  width: 100%;
}
ul.sub_list_quantity li .btn_popup a[class^="btn-"] {
  background-color: #7c7c7c;
  border: 2px solid #51c9ff;
  color: #FFFFFF;
  display: block;
  float: right;
  font-size: 100%;
  font-weight: bold;
  height: auto;
  margin: 6% 6% 3% 0;
  padding: 3% 8%;
  text-transform: uppercase;
  width: auto;
  background-color: #0e9cdc;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
ul.sub_list_quantity li .btn_popup a[class^="btn-"]:hover {
  background-color: #1fb4f7;
  color: white;
  border-color: #1fb4f7;
  transition: all 0.3s ease 0s;
}
ul.sub_list_quantity li .sub_ico_in {
  margin: 4% 3% 1% 5%;
}
ul.sub_list_quantity li span {
  display: block;
  float: left;
}
ul.sub_list_quantity li span input[type="text"] {
  font-size: 20px;
  height: 35px;
  margin: 0 3%;
  padding: 0 2%;
  width: 150px;
}
ul.sub_list_quantity li span[class^="ico-"] {
  height: 36px;
  margin-top: -1px;
  width: 37px;
  background: url("../images/icon_2.png") no-repeat;
  font-size: 0;
  border: 1px solid #D7D7D7;
  cursor: pointer;
  background-color: #FCFBFA;
}
ul.sub_list_quantity li span[class^="ico-"]:hover {
  background-color: #9595D4;
}
ul.sub_list_quantity li span[class^="ico-sub"] {
  background-position: 3px -272px;
}
ul.sub_list_quantity li span[class^="ico-plus"] {
  background-position: 3px -221px;
}
.list_products li:hover a {
  background-color: #464646;
  color: white;
  transition: all 0.3s ease 0s;
}
.list_products li a {
  color: #848484;
  font-size: 11px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 117px;
  overflow-y: hidden;
  background-color: #E9E9E9;
  text-align: center;
}
.list_products li a .img_products {
  background-color: white;
  height: 91px;
  margin-bottom: 4px;
}
.list_products li a .img_products img {
  max-height: 66px;
}
.list_products li a .check_span {
  position: relative;
  float: left;
  left: 2.5%;
  margin-top: -2px;
  margin-right: 9px;
}
.list_products li a .check_span input[type="checkbox"] {
  border-color: #cfcfcf;
}
.table input[type="text"]{
  border-width: 0px;
  width: 100%;
  text-align: center;
}
.table>thead>tr>th{
  border-top: 0px;
}
.table>tbody>tr:first-child>td{
  border-top: 0px !important;
}
.reset_table{
  margin-top: -10px;
}
.left_container .reset_table tr td:nth-child(2), .reset_width_table tr th:nth-child(2){
  width: 42% !important;
}
.left_container .reset_table tr td:nth-child(2) input, .reset_width_table tr th:nth-child(2) input{
  text-align: left;
}
.left_container .reset_table tr td:nth-child(3), .reset_width_table tr th:nth-child(3){
  width: 10% !important;
}
.left_container .reset_table tr td:nth-child(4), .left_container .reset_table tr td:nth-child(5), .reset_width_table tr th:nth-child(4), .reset_width_table tr th:nth-child(5){
  width: 20% !important;
}
.left_container .reset_table tr td:nth-child(3) input, .reset_width_table tr th:nth-child(4), .reset_width_table tr th:nth-child(3){
  text-align: right !important;
}
.left_container .reset_table tr td:nth-child(4) input, .left_container .reset_table tr td:nth-child(5) input, .reset_width_table tr th:nth-child(4) input, .reset_width_table tr th:nth-child(5){
  text-align: right !important;
}

.keyboard {
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: -o-linear-gradient(to bottom, #08191f 0%, #1b282d 50%, #2b3639 100%);
  background: -moz-linear-gradient(to bottom, #08191f 0%, #1b282d 50%, #2b3639 100%);
  background: -ms-linear-gradient(to bottom, #08191f 0%, #1b282d 50%, #2b3639 100%);
  background: -webkit-linear-gradient(to bottom, #08191f 0%, #1b282d 50%, #2b3639 100%);
  background: linear-gradient(to bottom, #08191f 0%, #1b282d 50%, #2b3639 100%);
  border: 2px solid #415258;
  display: block;
  left: 60.55%;
  padding: .2%;
  position: fixed;
  top: 22%;
  z-index: 400;
  width: 22%;
}
.keyboard .cf {
  padding: 0px !important;
  margin: 0px !important;
}
.keyboard li {
  background-color: #03133A !important;
  border: medium none !important;
  float: left;
  margin: 1% !important;
  width: 31.3% !important;
}
.keyboard li:last-child {
  width: 64.5% !important;
}
.keyboard li a {
  height: 70px !important;
  line-height: 71px !important;
  font-size: 32px !important;
  font-weight: bold !important;
  background: -o-linear-gradient(to bottom, #f3f2f2 0%, #ecebeb 50%, #ffffff 100%);
  background: -moz-linear-gradient(to bottom, #f3f2f2 0%, #ecebeb 50%, #ffffff 100%);
  background: -webkit-linear-gradient(to bottom, #f3f2f2 0%, #ecebeb 50%, #ffffff 100%);
  background: -ms-linear-gradient(to bottom, #f3f2f2 0%, #ecebeb 50%, #ffffff 100%);
  background: linear-gradient(to bottom, #f3f2f2 0%, #ecebeb 50%, #ffffff 100%);
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 1px solid #F5F5F5 !important;
  box-shadow: 0 0 2px #707070 inset, 0 1px 0 #575757, 0 1px 0 #888888, 0 0px 1px #131313;
  color: #000000 !important;
  text-shadow: 1px 1px 0px #FFFFFF;
}
.keyboard li a:hover {
  background: -o-linear-gradient(to bottom, #0e9cdc 0%, #18adf0 50%, #0e9cdc 100%);
  background: -moz-linear-gradient(to bottom, #0e9cdc 0%, #18adf0 50%, #0e9cdc 100%);
  background: -webkit-linear-gradient(to bottom, #0e9cdc 0%, #18adf0 50%, #0e9cdc 100%);
  background: -ms-linear-gradient(to bottom, #0e9cdc 0%, #18adf0 50%, #0e9cdc 100%);
  background: linear-gradient(to bottom, #0e9cdc 0%, #18adf0 50%, #0e9cdc 100%);
  color: #FFFFFF !important;
  text-shadow: 1px 1px 0 #565656;
}
a {
  color: white;
  transition: all 0.3s ease 0s;
}
.block_content_hd {
  display: none;
}

#element_to_pop_up {
  background-color: #fff;
  border-radius: 15px;
  color: #000;
  display: none;
  padding: 20px;
  min-width: 800px;
  min-height: 180px;
  margin: 0 10%; }
#element_to_pop_up a:hover {
  color: inherit; }

.big_size{
  border-top-width: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

.big_size li {
    background-color: white;
    float: right;
    margin: 3px 1%;
    width: 21.5%; }
.big_size li:hover {
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4); }
.big_size li:hover a {
    background-color: white;
    color: #848484; }
.big_size li.active {
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    background-color: #C7C6C6; }
.big_size li.active a {
    color: white !important; }

    .b-close {
cursor: pointer;
position: absolute;
right: 10px;
top: 4px;
font-weight: bold;
font-size: 1.5em;
color: #333;
}


table.table_popup {
  margin-top: 1%;
  font-size: 12px;
  border-width: 0px !important;
}
table.table_popup tbody:after{
  content: " ";
}
table.table_popup thead tr th, table.table_popup tbody tr td, table.table_popup tfoot tr td{
  border-width: 0px;
}
 table.table_popup tfoot{
  position: inherit;
  margin-top: 2px;
 }
table.table_popup thead tr {
  border-bottom: dashed 1px black;
}
table.table_popup tbody tr:last-child {
  border-bottom: dashed 1px black;
}
table.table_popup tr td, table.table_popup tr th {
    padding: .5%;
    line-height: 1.3em;
    width: 14%;
    text-align: right;
}
  table.table_popup tr td:first-child, table.table_popup tr th:first-child {
    width: 59%;
    text-align: left; }
  table.table_popup .end_deatails {
    border-top: dashed 1px black; }
  table.table_popup tfoot {
    padding: .5em 0; }
.table.reset_table{
  margin-top: 0px;
}
.table.reset_table tr:hover, .table tr:hover td input{
  background-color: #457198;
  color: white;
}
.tablehover tr:hover{
  background-color: #457198;
  color: white ! important;
}
.icon_indent{
  margin-left: 10px;
}

.top_header li ul.dropdown_list{
  background-color: white;
  border: 3px solid #0E9CDC;
  position: absolute;
  top: 41px;
  min-width: 137px;
  padding: 5px 0;
}
.top_header li ul.dropdown_list li{
  clear: both;
  width: 100% !important;
}
.top_header li ul.dropdown_list li a{
  background-color: #FFFFFF;
  color: #000000;
  display: block;
  margin: 0 !important;
  padding: 6px 20px 6px 10px !important;
  width: 100% !important;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.top_header li ul.dropdown_list li a:hover{
  background-color: #0E9CDC;
  color: white;
}
.language{
  width: 146px;
}
#div_order_box .slimScrollDiv{
  height: 350px !important;
}
#div_order_box #scroll_div{
  height: 350px !important;
}




.content .big_size li {
    background-color: #0E9CDC;
    margin: 3px 1%;
    width: 97%;
    border-color: #51C9FF;
}
.content .big_size li.active{
  background-color: #1FB4F7;
}
  .content .big_size li:hover {
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4); }
  .content .big_size li a {
    background-color: #0E9CDC;
    color: #FFFFFF;
    font: bold 15px/63px "Arial",Helvetica,sans-serif;
    height: 68px;
    text-align: center;
    text-transform: uppercase; }
  .content .big_size li a:hover, .content .big_size li.active a{
    background-color: #1FB4F7;
    color: white;
    text-decoration: none;}


.content_left {
    float: left;
    margin-top: 1%;
    width: 15%;
}
.content_right {
    border: 1px solid #D5D5D5;
    float: left;
    margin-left: 1%;
    margin-top: 1.2%;
    width: 83%;
}
.content_right ul.idTabs {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0px;
    margin-left: 0px;
    background-color: #0E9CDC; }
  .content_right ul.idTabs li {
    float: left;
    display: block; }
  .content_right ul.idTabs li a {
    display: block;
    background: #1872B2;
    border-right: 1px solid #0E9CDC;
    padding: 0px 27px;
    margin-top: -1px;
    text-decoration: none;
    font: bold 15px/63px "Arial",Helvetica,sans-serif; }
  .content_right ul.idTabs li a.selected {
    background: white;
    padding: 0px 27px 0;
    cursor: default;
    color: #1F4B72;
    font-weight: bold;
    text-transform: uppercase; }
  .content_right ul.idTabs li a:hover {
    text-decoration: none;
    background: #1F4B72;
    color: white; }
.clear{
  clear: both;
}

.products_settings{
  padding-left: 0px;
  margin-top: 10px;
  border-top: 0px;
  height: 575px;
  overflow-y: auto;
}
.products_settings li{
  margin: 0 1.1% 3.5%;
}
.col-xs-3 form.settings_f{
  margin-top: 10px;
}
.col-xs-3 form.settings_f button[type="submit"]{
  border: none;
  background-color: #0E9CDC;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px 20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
.col-xs-3 form.settings_f button[type="submit"]:hover{
  background-color: #1FB4F7;
  text-decoration: none;
}
.search {
    padding-left: 10px;
    padding-right: 10px;
    clear: both;
}
.category_select{
  margin: 5px 0;
}
.product_more{
  margin-top: 20px;
}
.list_products li.active2{
  background-color: #C7C6C6;
  transition: all 0.3s ease 0s;
}
.list_products li.active2 a {
background-color: #464646;
color: white;
transition: all 0.3s ease 0s;
}
.bg_right{
  background-color: #fff;
  color: black;
  border: 1px solid #0E9CDC;
}
.top_block .img_block{
  float: left;
  border: 1px solid #CCCCCC;
  padding: 3px;
  text-align: center;
  height: 125px;
}
.top_block .img_block img{
  text-align: center;
  max-height: 100%;
  max-width: 100%;
}
.top_block label{
  display: block;
  float: left;
  width: 100%;
}
.settings_f {
    margin-top: -14px;
}
.top_block label.localtion_lbl{
  margin-top: 15px;
  margin-bottom: 10px;
}
.form_barcode{
  clear: both;
}
.top_block{
  width: 100%;
}
.top_block .col-xs-4{
  padding-left: 0px;
}
.top_block .col-xs-8{
  padding-right: 0px;
}
.top_block .form-group select{
  width: 100%;
}
#products_name_label{
  height: 42px;
  overflow-y: hidden;
}
#barcode_form .no-bottom{
  margin-bottom: 0px;
}
#barcode_form .product_more{
  margin-top: 10px;
}
.form-edit label{
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.form-edit input[type="text"]{
  float: left;
  margin-top: 4px;
  padding: 2px;
  width: 125px;
}
.control_f .col-xs-6{
  padding-left: 0px;
}
.control_f .right_col{
  padding-right: 0px;
}
.control_f .right_col button{
  float: right;
  margin-left: 5px;
  background-color: #1F4B72;
  color: white;
  border: 1px solid #1F4B72;
}
.control_f .right_col button:hover{
  background-color: #1FB4F7;
  text-align: center;
  border-color: #1FB4F7;
}
#choose_category{
  margin: 10px 0 15px;
}
.settings_f .slimScrollDiv, .settings_f .slimScrollDiv .product_more{
  height: 300px !important;
}
.delete_icon{
  cursor: pointer;
  font-weight: bold;
  color: red;
}
.delete_icon:hover, .delete_icon:active{
}

.logo {
    margin-left: 11px;
    padding-top: 5px; }

.bg_menu {
    border-bottom: solid 3px #6A1515;/*BaoNam*/
    background-color: #949494;
    border-style: solid;
    border-top-width: 1px;
    border-top-color: #949494;
    height: 28px;
    position: fixed;
    top: 68px;
    width: 100%;
    z-index: 50; }
.bg_menu .title_quick {
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    font-family: Arial;
    margin-left: 11px; }

.logo_inner {
    background-image: url("../img/bg_logo_inner.gif");
    background-repeat: repeat-x;
    background-position: left top;
    height: 10px;
    position: fixed;
    top: 97px;
    width: 100%; }

.box_logo_inner {
    height: 103px;
    margin: 2px auto 0;
    width: 500px; }
.box_logo_inner span, .box_logo_inner .m_check input:checked + span, .m_check .box_logo_inner input:checked + span, .box_logo_inner .m_check2 input:checked + span, .m_check2 .box_logo_inner input:checked + span {
    display: block;
    float: left;
    height: 104px; }
.box_logo_inner span.bg_left, .box_logo_inner .m_check input:checked + span.bg_left, .m_check .box_logo_inner input:checked + span.bg_left, .box_logo_inner .m_check2 input:checked + span.bg_left, .m_check2 .box_logo_inner input:checked + span.bg_left {
    background-image: url("../img/left_box_inner.gif");
    background-repeat: no-repeat;
    background-position: 0 2px;
    width: 52px; }
.logo_inner .bg_right{
  border: none !important;
}
.box_logo_inner span.bg_right, .box_logo_inner .m_check input:checked + span.bg_right, .m_check .box_logo_inner input:checked + span.bg_right, .box_logo_inner .m_check2 input:checked + span.bg_right, .m_check2 .box_logo_inner input:checked + span.bg_right {
    background-image: url("../img/right_box_inner.gif");
    background-repeat: no-repeat;
    background-position: 0 2px;
    width: 41px; }
.box_logo_inner span.bgmain_logoinner, .box_logo_inner .m_check input:checked + span.bgmain_logoinner, .m_check .box_logo_inner input:checked + span.bgmain_logoinner, .box_logo_inner .m_check2 input:checked + span.bgmain_logoinner, .m_check2 .box_logo_inner input:checked + span.bgmain_logoinner {
    background-color: white;
    background-image: url("../img/bgmain_logo_inner.gif");
    background-repeat: repeat-x;
    background-position: left bottom;
    width: 365px;
    height: 101px;
    margin-top: 0px;
    text-align: center;
    padding-top: 5px; }
.login {
    margin: 330px auto 0;
    width: 349px; }
h2 {
color: #373737;
font-weight: bold;
font-size: 25px;
line-height: 20px;
font-family: Arial;
}
.title_login {
    height: 20px; }
.title_login span, .title_login .m_check input:checked + span, .m_check .title_login input:checked + span, .title_login .m_check2 input:checked + span, .m_check2 .title_login input:checked + span {
    float: left;
    display: block;
    height: 1px;
    margin-top: 6px; }
.title_login h2 {
    float: left;
    margin: -13px 23px 0;
    line-height: 29px; }
.title_login span.linelg_left, .title_login span.linelg_right, .title_login .m_check input:checked + span.linelg_left, .m_check .title_login input:checked + span.linelg_left, .title_login .m_check2 input:checked + span.linelg_left, .m_check2 .title_login input:checked + span.linelg_left {
    background-image: url("../img/line-login.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 117px; }
.title_login span.linelg_right, .title_login .m_check input:checked + span.linelg_right, .m_check .title_login input:checked + span.linelg_right, .title_login .m_check2 input:checked + span.linelg_right, .m_check2 .title_login input:checked + span.linelg_right {
    background-position: 0 -2px;
    width: 117px; }

.put {
    margin: 10px 0 0 4px;
    height: 120px; }

.height_in {
    height: 58px;
    display: block; }

.put input {
    border: none;
    color: #b4b4b4;
    padding: 10px 12px 10px 42px;
    width: 286px;
    height: 28px;
    margin-bottom: 10px; }
.put input:focus {
    -webkit-box-shadow: 0 0 2px #ed1c24;
    -moz-box-shadow: 0 0 2px #ed1c24;
    -ms-box-shadow: 0 0 2px #ed1c24;
    -o-box-shadow: 0 0 2px #ed1c24;
    box-shadow: 0 0 2px #ed1c24;
    border-style: solid;
    border-top-width: 1px;
    border-top-color: #ed1c24;
    border-right-width: 1px;
    border-right-color: #ed1c24;
    border-bottom-width: 1px;
    border-bottom-color: #ed1c24;
    border-left-width: 1px;
    border-left-color: #ed1c24; }

.input_pass, .input_user {
    background-image: url("../img/user_input.gif");
    background-repeat: no-repeat;
    background-position: 0 -58px; }

.input_user {
    background-position: 0 0; }

.login .btn_div {
    padding: 0 68px; }
.login .btn {
    background-image: url("../img/btn_submit.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 101px;
    height: 30px;
    border: none;
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    font-family: Arial;
    cursor: pointer; }
.login .btn:first-child {
    margin-right: 7px; }
.login .btn:hover {
    background-image: url("../img/btn_submit.png");
    background-repeat: no-repeat;
    background-position: 0 -32px; }

/*Footer*/
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 26px;
  width: 100%;
  z-index: 1;
}
.bg_footer {
  border-style: solid;
  border-top-width: 1px;
  border-top-color: #e4e3e3;
  border-bottom-width: 1px;
  border-bottom-color: #e4e3e3;
  height: 24px;
  min-width: 549px;
  background-color: #c9c9c9;
}