<?php // ?>
<span class="float_left bt_block"><?php echo translate('Click an arrow to view an RFQ');?></span>
<span class="next_block">
    <?php echo translate("Note: To create a 'Request for quote' click the RFQ '+' button on the line portal on the 'Line entry' or 'Text entry' tabs");?>
</span>
