<div class="float_left hbox_form" style="width:auto;">
    <a href="<?php echo URL.'/'.$controller;?>/create_email_pdf/">
    	<input class="btn_pur" id="emailexport_products" type="button" value="<?php echo translate('Email Document')?>" style="width:99%;" />
    </a>
</div>
<div class="float_left hbox_form" style="width:auto; margin-left:5px;">
     <a href="<?php echo URL.'/'.$controller;?>/view_pdf/" target="_blank">
     	<input class="btn_pur" id="printexport_products" type="button" value="<?php echo translate('Export PDF')?>" style="width:99%;" />
     </a>
</div>
