<?php 

?>
<div class="tab_title_purchasing2" style=" width:188px; float:right; position: relative; margin-top:5px; margin-right:48%;z-index:10;">
	<span class="block_purcharsing" style="width:180px;"><?php echo $arr_settings['more_language']['TYPE_ON'];?></span>
</div>